<h1>AMC Engineering College</h1>
<h3>Certificate Generator&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted" style="font-size:12px;">v2.1.0</small></h3>
<br>
<certificate #certificateMain id="certCanvas" [certType]="certTypeMain" [bodyText1]="bodyText1Main" [bodyText2]="bodyText2Main" [person1Name]="person1NameMain" [person1Desig]="person1DesigMain" [person2Name]="person2NameMain" [person2Desig]="person2DesigMain" [person3Name]="person3NameMain" [person3Desig]="person3DesigMain" [personName]="personNameMain" [dept]="deptMain" [prefixString]="prefixString">
</certificate>
<br><br>
<form class="form-container" id="formContainer">
  <label><b>Certificate Type</b></label><br>
  <span class="radioContainer"><input type="radio" style="margin:5px;" name="certType" value="participate" [(ngModel)]="certTypeMain" (change)="typeChange($event.target.value)" [checked]="true">Participation&nbsp;&nbsp;&nbsp;</span>
  <span class="radioContainer"><input type="radio" style="margin:5px;" name="certType" value="achieve" [(ngModel)]="certTypeMain" (change)="typeChange($event.target.value)">Achievement&nbsp;&nbsp;&nbsp;</span>
  <span class="radioContainer"><input type="radio" style="margin:5px;" name="certType" value="appreciate" [(ngModel)]="certTypeMain" (change)="typeChange($event.target.value)">Appreciation&nbsp;&nbsp;&nbsp;</span>
  <br><br>
  <label><b>Department</b></label><br>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" value="CSE" (click)="deptChange($event.target.value)" autofocus="autofocus">CSE</button>
      <button type="button" class="btn btn-primary" value="ISE" (click)="deptChange($event.target.value)">ISE</button>
      <button type="button" class="btn btn-primary" value="ECE" (click)="deptChange($event.target.value)">ECE</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" value="EEE" (click)="deptChange($event.target.value)">EEE</button>
      <button type="button" class="btn btn-primary" value="ME" (click)="deptChange($event.target.value)">ME</button>
      <button type="button" class="btn btn-primary" value="CIV" (click)="deptChange($event.target.value)">CIV</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" value="MATH" (click)="deptChange($event.target.value)">MATH</button>
      <button type="button" class="btn btn-primary" value="PHY" (click)="deptChange($event.target.value)">PHY</button>
      <button type="button" class="btn btn-primary" value="CHEM" (click)="deptChange($event.target.value)">CHEM</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" value="None" (click)="deptChange($event.target.value)">No Dept</button>
      <button type="button" class="btn btn-primary" value="Custom" (click)="deptChange($event.target.value)">Custom Dept</button>
    </div>
  </div>
  <div class="input-short" *ngIf="deptMain=='Custom'">
    <label><b>Custom Department Prefix</b></label>
    <div class="input-group mb-3" style="margin:5px;">
      <input type="text" #PrefixField class="form-control" [(ngModel)]="prefixString" [ngModelOptions]="{standalone: true}" (input)="reDraw()" placeholder="Department of XYZ">
    </div>
  </div>
  <br *ngIf="deptMain=='Custom'" />
  <div class="input-short">
    <label><b>Name</b></label>
    <div class="input-group mb-3" style="margin:5px;">
      <input type="text" #NameField class="form-control" [(ngModel)]="personNameMain" [ngModelOptions]="{standalone: true}" (input)="reDraw()" placeholder="Recipient Name">
      <div class="input-group-append" style="cursor: pointer; user-select:no-select;" ngxFilePicker (filePick)="nameListHandler($event)" accept="text/csv">
        <span class="input-group-text">+</span>
      </div>
      &nbsp;&nbsp;<button type="button" class="btn btn-info btn-xs" style="border-radius: 50px;" onclick="alert('Press the + icon to upload a list of names to generate multiple certificates at once (desktop only). File must be .CSV\nTo get names from a Google Form:\nResponses -> Download all responses (.csv) -> Upload CSV to here')">?</button>
    </div>
  </div>
  <br />
  <small class="text-muted" style="margin-top: 5%;margin-bottom: 5%;">Bulk generation is possible by uploading an Excel sheet. Press (?) for more info.</small>
  <br /><br />
  <div style="width:100%;">
    <label><b>Body</b></label>
    <textarea type="text" style="margin:5px;" class="form-control" [(ngModel)]="bodyText1Main" [ngModelOptions]="{standalone: true}" (input)="reDraw()" placeholder="Body Line 1" size="100"></textarea>
    <textarea type="text" style="margin:5px;" class="form-control" [(ngModel)]="bodyText2Main" [ngModelOptions]="{standalone: true}" (input)="reDraw()" placeholder="Body Line 2" size="100"></textarea>
    <!-- &nbsp;&nbsp;<button type="button" class="btn btn-primary btn-xs" style="border-radius: 50px;">+</button> -->
  </div>
  <br>
  <div style="width:100%;">
    <div class="input-short" style="margin-right:5%;">
      <label><b>Signatory Left</b></label>
      <input type="text" style="margin:5px;" class="form-control" [(ngModel)]="person1NameMain" [ngModelOptions]="{standalone: true}" (input)="reDraw()" placeholder="Person 1 Name" />
      <input type="text" style="margin:5px;" class="form-control" [(ngModel)]="person1DesigMain" [ngModelOptions]="{standalone: true}" (input)="reDraw()" placeholder="Person 1 Designation">
    </div>
    <div class="input-short">
      <label><b>Signatory Center</b></label>
      <input type="text" style="margin:5px;" class="form-control" [(ngModel)]="person2NameMain" [ngModelOptions]="{standalone: true}" (input)="reDraw()" placeholder="Person 2 Name" />
      <input type="text" style="margin:5px;" class="form-control" [(ngModel)]="person2DesigMain" [ngModelOptions]="{standalone: true}" (input)="reDraw()" placeholder="Person 2 Designation" />
    </div>
    <div class="input-short">
      <label><b>Signatory Right</b></label>
      <input type="text" style="margin:5px;" class="form-control" [(ngModel)]="person3NameMain" [ngModelOptions]="{standalone: true}" (input)="reDraw()" placeholder="Person 3 Name" />
      <input type="text" style="margin:5px;" class="form-control" [(ngModel)]="person3DesigMain" [ngModelOptions]="{standalone: true}" (input)="reDraw()" placeholder="Person 3 Designation" />
    </div>
  </div>
  <br>
  <br>
  <a id="export" class="btn btn-primary" #ExportBTN (click)="(this.nameList.length == 0) ? exportHandler() : downloadAll()">Export</a>
  <a id="download" class="btn btn-success" #DownloadBTN download="Certificate.png" href="" (click)="downloadHandler()" style="display: none;">Download</a>
  <br><br><small class="text-muted" style="margin-top: 5%;margin-bottom: 5%;">Design &copy; Menahi Shayan. 2019. Certificate Generator Web-Service courtesy of Menahi Shayan. <a href="mailto:menahi.shayan@gmail.com">Feedback</a></small><br><br>
  </form>
  <div class="loaderContainer" #Loader style="display:none;">
    <div class="loader"></div>
</div>
<!--DISCLAIMER: Certificate Generator Web-Service does not grant usage permission. Generated certificates are void unless signed.-->
<router-outlet></router-outlet>
